.leaf-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.leaf-logo-small {
  width: 32px;
  height: 32px;
}

.leaf-logo-medium {
  width: 48px;
  height: 48px;
}

.leaf-logo-large {
  width: 80px;
  height: 80px;
}

.leaf-logo svg {
  width: 100%;
  height: 100%;
}

